{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">

    <article class="{{post_class}}">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

            <h1 class="post-title">{{{title}}}</h1>

            <section class="post-content">
                {{content}}
            </section>

            <footer class="post-footer">

                <span class="post-meta">by {{author}} on <time datetime="{{date format='YYYY/MM/DD'}}">{{date format="YYYY/MM/DD"}}</time></span>

            </footer>

        {{/post}}

    </article>

</main>